@font-face {
     font-family: MTGFONT;
     src: url('MAGIC.TTF');
}

body {
     /* this was to get rid of some browsers internal margin so this would line up to end of page */
     margin: 0px;
     background-color: rgb(34, 34, 41);   
     font-family: MTGFONT
}


.modal-backdrop {
     background: none;
}

.modal-content{
     text-align: center;
     background-color: rgb(28, 28, 41) !important;
     color: rgb(150, 150, 150);
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.navbar-nav {
     float:none;
     margin:0 auto;
     display: block;
     text-align: center;   
}
 
 .navbar-nav > li {
     display: inline-block;
     float:none;
 }

.nav-link{
     font-size: 1.5em;
}

#U a{
     color: rgba(50, 94, 241, 0.925);
}

#R a{
     color: red;
}

#G a{
     color: green;
}

#B a{
     color:black;
}
#N a{
     color:gray;
}

#L a{
     color: rgb(118, 122, 92);
}

#Artists a{
     color:rgb(136, 119, 24);
}

#Sets a{
     color:rgb(136, 119, 24);
}

figcaption{
     font-size: 1.25em;
}

#title h2{
     font-size: 2.5em;
     color: rgba(201, 174, 106, 0.822);
     text-align: center;
     margin-top: 10px;
}

img {
	width: 300px;
     height: 200px;
     border: 5px solid rgb(83, 83, 83);
     margin: 10px;;
     transition: all 500ms;
}

img:hover {
     transform: scale(1.1);
}

.modal-img {
	width: 400px;
     height: 265px;
     border: 5px solid rgb(83, 83, 83);
     margin: 10px;;
     transition: all 500ms;
}

.modal-img:hover {
     transform: scale(1.1);
}

.list-group-item{
     color: antiquewhite;
     background-color: rgba(112, 112, 112, 0.13);
     cursor: pointer; 
}

.clickable{
     cursor: pointer;
}

.figCard{
     text-align: center;
     color: rgba(170, 170, 170, 0.747);
     font-size: 80%;
}

